html, body{
	text-align: center;
	height: 100%;
	margin: 0px;
}
p {
	margin: 0px;
}
#top{
	background-color:#ff0000;
}
#middle{

}
#bottom{
	background-color:#0000ff;
}
#middle:after {
	content: "";
	display: table;
	clear: both;
}
#left{
	display:inline-block;
	float:left;
	width:20%;
	background-color:#ffff00;
}
#center{
	display:inline-block;
	float:left;
	width:80%;
	background-color:#00ffff;
}
